<div class="jumbotron">  <font color="white">
<h1>Handcrafted eggs from around the town.</h1>
  <h2>Discover one of a kind eggs from around the way and back.</h2></font>
</div>
<div class="center">
  <font color="white"> <h1>Eggies</h1> </font>

    <div class="row">
    <% @listings.each do |listing| %>
   
      <div class="col-md-3">
        <%= link_to image_tag(listing.image_url(:thumb)), listing %>
        <div class="caption">
          <h3><%= listing.name %></h3>
          <p> <%= number_to_currency(listing.price) %> </p>
          <p><%=listing.user.name %></p>
        <% if (user_signed_in?) && (current_user == listing.user) %>    
        
        <% end %>  
        </div>    
        </div>
    <% end %>
    </div>
 

<br>
<% if (user_signed_in?) %>
<%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
<% end %> 
  
</div>  